.custom-container {
    max-width: 54rem;
}

fieldset {
    max-width: 54rem;
    width: fit-content;
    height: fit-content;
    row-gap: 40px;
    column-gap: 20px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding: 30px 10px 35px 40px;
}

.form-check.form-check-digits {
    width: 55px;
}

input[type='checkbox'] {
    transform: scale(1.3);
}