
h1 {
    padding: 2rem 0;
}




.buttons {
    display: flex;
    column-gap: 0.5rem;
}




fieldset {
    max-width: 75%;
    width: fit-content;
    height: fit-content;
    row-gap: 40px;
    column-gap: 20px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding: 30px 10px 35px 40px;
    background-color: rgb(252, 252, 236);
}

.form-check.form-check-digits {
    width: 45px;
}

input[type='checkbox'] {
    transform: scale(1.5);
}

.form-check-label.create-ticket {
    font-size: 1.2rem;
    color: rgb(255, 119, 28);
}








.jumbotron {
    text-align: center !important;
    width: fit-content !important;
    height: fit-content !important;
    align-self: center !important;
    justify-self: center !important;
    padding: 1rem 5rem !important;
    margin-bottom: 2rem;
}







/* some changes in bootstrap modal */
.modal-body {
    padding: 20px 20px 0px 20px !important;
    text-align: center !important;
}

.modal-footer{
    text-align: center !important;
}